body {
    background-color: #f7fafc;
    color: #1a202c;
    font-family: 'sans-serif';
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.lavel {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4a5568;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input[type="text"] {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-width: 1px;
    border-color: #e2e8f0;
    border-radius: 0.375rem;
    width: 100%;
}

.select {
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    color: #1a202c;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    padding: 0.625rem;
    display: block;
    width: 100%;
}

.select:focus {
    outline: none;
    border-color: #4299e1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.select option {
    background-color: #ffffff;
    color: #1a202c;
}

.select option:checked {
    background-color: #4299e1;
    color: #ffffff;
}

.error-message {
    color: #e53e3e;
    font-size: 0.875rem;
}

.color-picker {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    position: relative;
    width: 100%;
}

.color-picker:focus {
    @apply ring ring-blue-300;
}

.custom-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4a5568;
}

.custom-textarea {
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    resize: none;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.color-bubble {
    width: 30px;
    /* Ajusta el tamaño según tus preferencias */
    height: 30px;
    /* Ajusta el tamaño según tus preferencias */
    border-radius: 50%;
    margin-left: 10px;
    /* Ajusta el margen según tus preferencias */
    display: inline-block;
    border: 2px solid white;
    /* Añade un borde blanco para mayor visibilidad */
}


/*Aqui inician el estilo de las tablas */

.table-header {
    background-color: #4f0d6b;
    color: #ffffff;
    height: 32px;
}

.table-cell {
    padding: 0.75rem;
    text-align: left;
    font-size: 0.75rem;
    white-space: nowrap;
}

.custom-table-header {
    border-t: 0;
    border-l: 0;
    border-right: 0;
    font-size: 0.5rem;
    font-weight: bold;
    padding: 4px;
}

.custom-table-row {
    border-bottom: 1px solid #d2c9d8;
}

.custom-table-row:hover {
    background-color: #ddd1dd;
}

.custom-th {
    border-top: 0;
    padding-left: 6px;
    vertical-align: middle;
    border-left: 0;
    height: 42px;
    border-right: 0;
    font-size: 0.90rem;
    white-space: nowrap;
    padding: 4px;
    text-align: center;
}

.custom-tr {
    height: 55px;
}