<div class="flex flex-wrap">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-slate-500" style="background: url('') center center / cover no-repeat; background-size: cover;">
        <div class="fixed top-0 right-0 p-4">
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <div class="flex justify-end px-4 pt-4">
                  <!-- Dropdown menu -->
                  <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                      <ul class="py-2" aria-labelledby="dropdownButton">
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="flex flex-col pb-10 pl-9 pr-9">
                  <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://th.bing.com/th/id/R.550f49a459548599a5a4ea1c67fc0244?rik=ji0NKVGInUZxuw&pid=ImgRaw&r=0" alt="Bonnie image"/>
                  <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"></h5>
                  <span class="text-sm text-indigo-800">Cristian Carreto</span>
                  <span class="text-sm text-indigo-800">carreto154@gmail.com</span>
                  <span class="text-sm text-indigo-800">Administrador</span>
              </div>
          </div>
      </div>
      <br><br><br><br><br>
        <div class="">
          <div class="center-container">
          </div>
          <p></p>
          <div class="">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="titulo px-6 mt-2"><h2>Beneficios entregadas</h2></div>
              <div class="tamaño px-6 ">
                <li><h2>Registro de Beneficiarios</h2>
                  <p>Desarrolla un portal en línea fácil de usar para el registro de beneficiarios.</p>
                  <p>Proporciona información clara sobre el propósito del programa, los criterios de elegibilidad y los beneficios ofrecidos.</p>
              </li>
              </div>
            </div>
          </div>
          <div class="">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="titulo px-6 mt-2"><h2>Beneficios entregadas</h2></div>
              <div class="tamaño px-6 ">
                <li><h2>Registro de Evidencias de Entrega</h2>
                  <p>Implementa un proceso de verificación eficiente para garantizar la elegibilidad.</p>
                  <p>Puedes colaborar con instituciones locales para verificar la información proporcionada.</p>
                </li>
              </div>
            </div>
          </div>
          <div class="">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="titulo px-6 mt-2"><h2>Beneficios entregadas</h2></div>
              <div class="tamaño px-6 ">
                <li><h2>Historial de Actividades</h2>
                  <p>Brinda a los beneficiarios la opción de mantener su historial anónima o compartirla públicamente según su preferencia.</p>
                  <p>Crea un historial que registre la participación de cada beneficiario en actividades específicas del programa a lo largo del tiempo.</p>
                </li>
              </div>
            </div>
          </div>
          <br>
          <p></p>
        </div>
  </div>
</div>
(41 kB)
