<div class="flex flex-wrap">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
    
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-slate-500" style="background: url('') center center / cover no-repeat; background-size: cover;">
        <div class="fixed top-0 right-0 p-4">
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <div class="flex justify-end px-4 pt-4">
                  <!-- Dropdown menu -->
                  <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                      <ul class="py-2" aria-labelledby="dropdownButton">
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                          </li>
                          <li>
                              <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                          </li>
                      </ul>
                  </div>                 
              </div>
              <div class="flex flex-col items-center p-6 border-purple-500 border-4 rounded-lg bg-gradient-to-r from-purple-400 to-purple-600">
                <div class="w-32 h-32 mb-4 rounded-full overflow-hidden shadow-lg border-4 border-white">
                    <img class="w-full h-full object-cover rounded-full" src="https://th.bing.com/th/id/R.550f49a459548599a5a4ea1c67fc0244?rik=ji0NKVGInUZxuw&pid=ImgRaw" alt="Bonnie image"/>
                </div>
                <h5 class="mb-1 text-2xl font-semibold text-white">Cristian Carreto</h5>
                <hr class="my-1 border-gray-300 w-full"> 
                <span class="text-sm text-gray-300">carreto154@gmail.com</span>
                <span class="text-sm text-gray-300">Director de Área Social</span>
                <span class="text-sm text-gray-300">Administrador</span>
            </div>
                       
            
          </div>
      </div>
      <br><br><br><br><br><br><br>
      <style>
        .card {
          border: 3px solid #511e74; /* Color del borde */
          border-radius: 12px; /* Radio de borde para hacerlo redondeado */
          overflow: hidden; /* Evita que el contenido sobresalga del borde */
        }
      </style>
      
      <div class="container mx-auto mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
          <!-- Primer Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 text-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Registro de Beneficiarios</h2>
            <p>Desarrolla un portal en línea fácil de usar para el registro de beneficiarios.</p>
            <p>Proporciona información clara sobre el propósito del programa, los criterios de elegibilidad y los beneficios ofrecidos.</p>
          </div>
      
          <!-- Segundo Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 text-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Registro de Evidencias de Entrega</h2>
            <p>Implementa un proceso de verificación eficiente para garantizar la elegibilidad.</p>
            <p>Puedes colaborar con instituciones locales para verificar la información proporcionada.</p>
          </div>
      
          <!-- Tercer Beneficio -->
          <div class="card bg-gradient-to-r from-purple-400 to-purple-600 text-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Historial de Actividades</h2>
            <p>Brinda a los beneficiarios la opción de mantener su historial anónima o compartirla públicamente según su preferencia.</p>
            <p>Crea un historial que registre la participación de cada beneficiario en actividades específicas del programa a lo largo del tiempo.</p>
          </div>
        </div>
      </div>
      
          
  </div>
</div>
