.center-container {
    display: flex;
    justify-content: center;
}

.margin {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}


/* En tu archivo de estilos CSS o en el componente */

.rounded-lg {
    border-radius: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.tamaño {
    width: 400px;
    height: 400px;
    margin: auto;
    /* Esto centra el elemento horizontalmente */
    display: flex;
    justify-content: center;
    /* Esto centra el contenido dentro del contenedor flex */
    align-items: center;
}

.mar {
    margin-top: 25px;
    margin-bottom: 50px;
}

.mar2 {
    margin-top: 30px;
}

.espacio {
    margin-top: 25px;
    margin-bottom: 40px;
}