
p {
    font-size: 1.1rem; 
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin-bottom: 8px;

  }
  
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    padding-left: 1.5rem; 
  }

  li {
    margin-bottom: 0.5rem; 

  }

  /* Estilos para centrar el contenido */
.center-container {
    display: flex;
    justify-content: center;
    
  }
  
.margin{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* En tu archivo de estilos CSS o en el componente */
.rounded-lg {
  border-radius: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.tamaño{
  width: 600px;
  height: 600px;
  margin: auto; /* Esto centra el elemento horizontalmente */
  display: flex;
  justify-content: center; /* Esto centra el contenido dentro del contenedor flex */
  align-items: center; 
  
}