<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla con Colores y Mapa</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Agrega los estilos de Highcharts -->
  <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <style>
    .color-cell {
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
    }

    #baseMap {
      width: 400px;
      height: 500px;
      display: block;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  
  <!-- Mapa -->
  <div class="flex ">
    <div class="flex  mt-3">
      <div class=" " style="max-height: 600px; overflow-y: auto;">
      <div class=" ">
        <table class="table bg-white">
          <div class="mb-3">
            <label for="searchInput" class="form-label">Buscar:</label>
            <input type="text" class="form-control" id="searchInput">
          </div>
          
          <div class="flex mt-3">
            <!-- ... tu tabla existente ... -->
            <tbody id="table-body">
              <tr *ngFor="let item">
                <td>{{ item.NombreDelMunicipio }}</td>
                <td>{{ item.Indicador }}</td>
                <td>{{ item.TotalDeProgramasSociales }}</td>
              </tr>
            </tbody>
          </div>
          <thead style="background-color: rgb(75, 43, 105);" class="table-header text-white">
            <tr>
              <th scope="col">Nombre Del Municipio</th>
              <th scope="col">Indicador</th>
              <th scope="col">Total De Programas Sociales</th>
            </tr>
            
          </thead>
          <tbody>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Color</th>
              <th scope="col">#</th>
            </tr>
           
          </tbody>
          <tbody id="table-body">
         
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-75 px-4">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="'mapChart'"
        [options]="chartMap"
        id="baseMap"
        style="width: 100%; height: 700px; display: block"
      >
      </highcharts-chart>

    </div>
  </div>
  
  <!-- Tabla con colores -->
  
</div>


